<div class="container contSize">
  <div class="row rowSize">
      <img [src]="dataFish['Species Illustration Photo']?.src" class="imgSize" />
  </div>
  <div class="row rowSize">
      <div class="col-sm">
          Nome: {{ dataFish['Species Name'] }}
          Descrição: {{ dataFish['Fishing Rate'] }}
      </div>
  </div>
  <div class="row">
      <div class="col-sm ion-text-center">
          <button type="button" class="btn btn-block btn-info" (click)="fistDetails(dataFish)">Ler Mais</button>
      </div>
  </div>
</div>
